input[type="radio"] {
    display: none;
}

label {
    position: relative;
    color: #8a1d4a;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.8em;
    border: 5px solid #af1656;
    padding: 1em 1em;
    border-radius: 0.5em;
}

label:before {
    content: "";
    height: 20px;
    width: 20px;
    border: 3px solid #af1656;
    border-radius: 50%;
}
  
input[type="radio"]:checked + label:before {
    height: 20px;
    width: 20px;
    border: 0.65em solid #af1656;
    background-color: #df87ab;
}
  
input[type="radio"]:checked + label {
    background-color: #df87ab;
    color: #000000;
}

.escolha_tempo {
    margin: 60px 0px 0px 210px;
}

.escolha_categoria {
    margin: 60px 0px 80px 355px;
}


/* 
Anotações:
> - sinal para selecionar filhos-diretos de um elemento específico
+ - seleciona o elemento que está após imediato.
*/