h1, h2, h3, h4, h5, h6, hr, p, figure {
  display: block;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  border-width: 0;
  opacity: 1;
}

ul {
  display: block;
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

button {
  background-color: transparent;
  border: none;
  display: block;
  padding: 0;
  margin: 0;
  align-items: normal;
}

.corpo {
  display: flex;
  flex-direction: column;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}

.cabecalho {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 164px;
}

.cabecalho_caixa {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #F4E0EA;
  outline: 3px solid black;
  overflow: hidden;
  box-shadow: 0px 3px 3px 0px black;
}

.cabecalho_conteudo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  margin: 32px auto 36px;
  width: 92.08%;
  padding: 0px 24px 0px 0px;
}

.Logo {
  position: relative;
  width: 285px;
  height: 100px;
  min-width: 0px;
}

.logobotao:hover {
  cursor: pointer;
}

.menu {
  position: relative;
  display: flex;
  justify-content: end;
  gap: 60px;
  width: 523px;
  min-width: 0px;
}

.navegacao {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 141px;
  font: 545 20px/1.5 "Inter", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  background-color: #df87ab;
  border-radius: 2px;
  padding: 15px 8px;
  outline: 1px solid black;
  box-shadow: 0px 4px 4px 0px black;
  transition-duration: 0.5s;
  cursor: pointer;
}

.navegacao:hover {
  background-color: #b63a5f;
}

.conteudo {
  position: relative;
  display: flex;
  flex-direction: column;
}

.items_conteudo {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 88px auto 103px;
  width: 83.33%;
  padding: 0px 150px 0px 0px;
}

.secao_importante {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 50px 20px;
  width: 729px;
  min-width: 0px;
}

.título_principal {
  position: relative;
  font: 700 64px/1.2 "Inter", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -1.28px;
}

.subtitulo {
  position: relative;
  display: flex;
  align-items: center;
  margin: 24px 0px 0px;
  font: 400 24px/1.5 "Inter", Helvetica, Arial, serif;
  color: #828282;
}

.texto {
  position: relative;
  margin: 24px 0px 0px;
  font: 500 20px/1.5 "Inter", Helvetica, Arial, serif;
  color: black;
}

.botao_iniciar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px 0px 0px 14.27%;
  width: 460px;
  max-width: 100%;
  font: 500 30px/1.5 "Inter", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  background-color: #d85778;
  border-radius: 8px 8px 8px 8px;
  padding: 35px 8px;
  outline: 3px solid black;
  box-shadow: 0px 6px 6px 0px black;
  cursor: pointer;
  transition-duration: 0.5s;
  text-decoration:underline;
}

#recomendacao {
  color: rgb(231, 12, 12);
  font-size: 25px;
  text-decoration: underline;
}

.botao_iniciar:hover {
  background-color: #9e2132;
}

.grupo_imagens {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 461px 0px 0px;
  width: 294px;
  min-width: 0px;
}

.imagem2posicao {
  position: absolute;
  top: -263px;
  right: -112px;
  display: flex;
  flex-direction: column;
  width: 309px;
  height: 350px;
}

.imagem1 {
  position: absolute;
  top: -201px;
  left: -140px;
  width: 279px;
  height: 328px;
  outline: 4px solid #df87ab;
  outline-offset: -4px;
  box-shadow: 0px 6px 6px 0px black;
}

.imagem2 {
  position: relative;
  width: 100%;
  outline: 4px solid black;
  outline-offset: -4px;
  box-shadow: 0px 6px 6px 0px black;
}

.imagem3 {
  position: relative;
  width: 100%;
  outline: 4px solid #ff4f6c;
  outline-offset: -4px;
  box-shadow: 0px 6px 6px 0px black;
}

.rodape {
  position:relative;
  display: flex;
  flex-direction: column;
  background-color: #F4E0EA;
  outline: 3px solid black;
  padding: 40px;
  padding-left: 180px;
}
.items_conteudo_sobre_dicas {
  position: relative;
  display: flex;
  margin: 0px 0px 0px 300px;
  width: 1400px;
  padding: 100px 0px 100px 0px;
}

.secao_importante_sobre_dicas {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 20px 20px;
  width: 1300px;
  min-width: 0px;
}

.título_principal_sobre_dicas {
  position: relative;
  font: 500 45px/1.2 "Inter", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -1.28px;
}

.texto_sobre_dicas {
  position: relative;
  margin: 24px 0px 0px;
  font: 500 20px/1.5 "Inter", Helvetica, Arial, serif;
  color: black;
}

.imagemsobre {
  width: 600px;
  height: 400px;
  padding: 20px;
  padding-top: 60px;
}

.imagemdica1 {
  width: 1000px;
}

.imagemdica2 {
  width: 500px;
  height: 500px;
}

.lista_dicas {
  text-align: center;
}

.items_lista_dicas {
  padding-top: 30px;
  padding-bottom: 40px;
  line-height: 40px;
}

.titulotempo {
  text-align: center;
  font: 300 30px "Inter", Helvetica, Arial, serif;
  margin-top: 60px;
}

.titulocategoria {
  text-align: center;
  font: 300 30px "Inter", Helvetica, Arial, serif;
  margin-top: 130px;
}

.botao_começar_treino {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 100px 710px;
  width: 450px;
  font: 550 25px/1.5 "Inter", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  background-color: #d85778;
  border-radius: 8px;
  padding: 40px 10px;
  outline: 3px solid black;
  box-shadow: 0px 6px 6px 0px black;
  cursor: pointer;
  transition-duration: 0.5s;
}

@media (max-width: 1399px) {
  .imagem3 {
    width: 240px;
    height: 300px;
  }
}

@media (max-width: 991px) {
  .imagem3 {
    width: 150px;
    height: 200px;
    -o-object-position: 50% center;
    object-position: 50% center;
  }
}

@media (max-width: 991px) {
  .rodape {
    border-color: black;
    border-style: solid;
    border-width: 3px 1px 1px 1px;
  }
}

@media (min-width: 1920px) and (max-width: 2999px) {
  .cabecalho_caixa {
    padding: 0px;
  }
}

@media (max-width: 991px) {
  .cabecalho_caixa {
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 3px 1px;
  }
}

@media (max-width: 991px) {
  .Logo {
    width: 200px;
  }
}

@media (max-width: 991px) {
  .menu {
    width: 300px;
  }
}

@media (max-width: 991px) {
  .navegacao {
    min-width: 80px;
  }
}

@media (max-width: 991px) {
  .conteudo {
    height: 100%;
  }
}

@media (min-width: 1920px) and (max-width: 2999px) {
  .items_conteudo {
    justify-content: space-evenly;
    align-items: center;
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
}

@media (max-width: 1399px) {
  .items_conteudo {
    gap: 0px 80px;
    width: auto;
  }
}

@media (max-width: 991px) {
  .items_conteudo {
    margin: 30px auto 103px;
    width: 650px;
  }
}

@media (max-width: 1199px) {
  .secao_importante {
    width: 500px;
    height: 60px;
  }
}

@media (max-width: 991px) {
  .título_principal {
    align-items: flex-start;
    font-size: 45px;
  }
}

@media (max-width: 991px) {
  .subtitulo {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .texto {
    align-items: flex-start;
    font-size: 16px;
  }
}

@media (max-width: 1199px) {
  .botao_iniciar {
    margin: 50px 0px 0px 0%;
  }
}

@media (max-width: 991px) {
  .grupo_imagens {
    width: 150px;
    height: 200px;
  }
}

@media (max-width: 991px) {
  .imagem2posicao {
    right: -139px;
  }
}

@media (max-width: 1399px) {
  .imagem1 {
    width: 240px;
    height: 300px;
  }
}

@media (max-width: 991px) {
  .imagem1 {
    top: -200px;
    left: 45px;
    width: 150px;
    height: 200px;
  }
}

@media (max-width: 1399px) {
  .imagem2 {
    width: 240px;
    height: 300px;
  }
}

@media (max-width: 991px) {
  .imagem2 {
    margin: 30px 0px 0px 70px;
    width: 150px;
    height: 200px;
  }
}